<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>PRODUTOS CADASTRADOS</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço Unitário</th>
          <th>Unidade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos ">
          <td>{{produto.id}}</td>
          <td>{{produto.nome}}</td>
          <td>{{produto.descricao}}</td>
          <td>{{produto.preco_unitario | currency: 'BRL'}}</td>
          <td>{{produto.unidade}}</td>
          <td><button mat-cell (click)="navigateToProdutoUpdate()" color="warn" class="btn btn-danger" style="margin-left: 10px">
            <i class= "material-icons edit">
                edit
            </i></button>
          <td><button mat-cell (click)="delete(produto)" color="warn" class="btn btn-danger" style="margin-left: 10px">
            <i class= "material-icons delete">
              delete
          </i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--<h2>LISTAS DE PRODUTOS</h2>-->
<!--
<ul class="produto">
    <li *ngFor="let produto of produtos">
      <a routerLink="/detail/{{produto.id}}">
        <span class="badge">{{produto.id}}</span> {{produto.nome}}
      </a>
      <button class="delete" title="delete produto"
      (click)="delete(produto)">X</button>
    </li>
  </ul>

-->
<br>
<button mat-raised-button color="warn" (click)="saida()">
    RETORNAR
</button>


  