.sidenav{
    background-color: #b8b6b6;
    width: 200px;
    max-height: flex;
} 
.sidenav a{
    color: #FFF;
}

.sidenav i{
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}