<!--
<mat-card>
    <mat-card-title>ALTERAR PRODUTO</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Venda do Cliente" 
            [(ngModel)] = "venda.cliente" name="venda.cliente">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data e Hora" 
            [(ngModel)] = "venda.datahora" name="venda.datahora">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço Unitário" 
            [(ngModel)] = "venda.valorTotal | currency: 'BRL'" name="preco_unitario">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="updateVendas()" color="primary">
        SALVAR
    </button>
    <button mat-raised-button (click)="saida()">
        CANCELAR
    </button>
</mat-card>
-->