<mat-card>
    <mat-card-title>ALTERAR FORNECEDOR</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
            [(ngModel)] = "fornecedor.nome" name="nome">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Telefone" 
            [(ngModel)] = "fornecedor.telefone" name="telefone">
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="CNPJ" 
            [(ngModel)] = "fornecedor.cnpj" name="cnpj">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email" 
            [(ngModel)] = "fornecedor.email" name="email">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="updateFornecedor()" color="primary">
        SALVAR
    </button>
    <button mat-raised-button (click)="saida()">
        CANCELAR
    </button>
</mat-card>
