<mat-card>
    <mat-card-title>ALTERAR PRODUTO</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
            [(ngModel)] = "produtos.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição" 
            [(ngModel)] = "produtos.descricao" name="descricao">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço Unitário" 
            [(ngModel)] = "produtos.preco_unitario" name="preco_unitario">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Unidade" 
            [(ngModel)] = "produtos.unidade" name="unidade">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="updateProduto()" color="primary">
        SALVAR
    </button>
    <button mat-raised-button (click)="saida()">
        CANCELAR
    </button>
</mat-card>
