
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>VENDAS CADASTRADOS</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Data Hora</th>
            <th>Valor Total</th>
            <th>Forma de Pagamento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vendas of vendas ">
            <td>{{vendas.id}}</td>
            <td>{{vendas.id_cliente}}</td>
            <td>{{vendas.datahora}}</td>
            <td>{{vendas.valorTotal | currency: 'BRL'}}</td>
            <td>{{vendas.formadepagamento}}</td>

            <td><button mat-cell routerLink="/vendas/update/alterar/{{vendas.id}}" color="warn" class="btn btn-danger" style="margin-left: 10px">
              <i class= "material-icons edit">
                  edit
              </i></button>
            </td>
            <td><button mat-cell (click)="delete(vendas)" color="warn" class="btn btn-danger" style="margin-left: 10px">
              <i class= "material-icons delete">
                delete
            </i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  
  
    