<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>LISTA DE USUÁRIOS</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">

            <td>{{user.id}}</td>
            <td>{{user.nome}}</td>
           
            <td><button mat-cell routerLink="/user/update/alterar/{{user.id}}" color="warn" class="btn btn-danger" style="margin-left: 10px">
              <i class= "material-icons edit">
                  edit
              </i></button>
          </td>
            <td><button mat-cell (click)="delete(user)" color="warn" class="btn btn-danger" style="margin-left: 10px">
              <i class= "material-icons delete">
                delete
            </i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
        <button mat-raised-button color="Basic" (click)="saida()">
            RETORNAR
        </button>
    </div>
    
  </div>