
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>LISTAR DA FORNECEDORES</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>CNPJ</th>
            <th>EMAIL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fornecedor of fornecedores">

            <td>{{fornecedor.id}}</td>
            <td>{{fornecedor.nome}}</td>
            <td>{{fornecedor.telefone}}</td>
            <td>{{fornecedor.cnpj}}</td>
            <td>{{fornecedor.email}}</td>

            <td><button mat-cell routerLink="/fornecedor/update/alterar/{{fornecedor.id}}" color="warn" class="btn btn-danger" style="margin-left: 10px">
                <i class= "material-icons edit">
                    edit
                </i></button>
            </td>

            <td><button mat-cell (click)="delete(fornecedor)" color="warn" class="btn btn-danger" style="margin-left: 10px">
                <i class= "material-icons delete">
                    delete
                </i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
        <button mat-raised-button color="warn" (click)="saida()">
            RETORNAR
        </button>
    </div>
  </div>
