.edit {
    background-color: rgb(255, 187, 0);
    color:rgb(0, 0, 0);
}

.delete{
    background-color: rgb(255, 0, 0);
    color:rgb(0, 0, 0);
}

table {
    width: 100%;
}

button {
   margin-right: 10px;
}
